{% extends "resume/resume_simple_form.html" %}

{% comment %}
Template for selecting a resume item for a resume.
{% endcomment %}
{% block simple_form_header_text %}Select a Resume Item{% endblock %}

{% block simple_form_field %}
{{ form.title.errors }}
<div class="form-group">
  <div class="col-sm-offset-1 col-sm-11 submit-col">
    {{ form.item }}
  </div>
</div>
{% endblock %}

{% block simple_form_submit_button_text %}Add to Resume{% endblock %}

{% block simple_form_back_button %}
<a class="btn btn-default" href="{% url 'resume-details' resume.pk %}">Back</a>
{% endblock %}

{% block simple_form_additional_buttons %}
    <button type="submit" name="delete" class="btn btn-danger delete-button">
      Remove from Resume
    </button>
    <br /><br />
    <a class="btn btn-success" href="/resume/item/create/">Create New Resume Item</a>
{% endblock %}
