{% extends "base_logged_in.html" %}

{% comment %}
Template for viewing the resume index.
{% endcomment %}

{% block styles %}
  {{ block.super }}

  <style>
    div.resume-container {
      margin: 24px auto 0;
      max-width: 800px;
    }

    div.header-center-container {
      text-align: center;

      margin-top: 12px;
    }

    div.header-container {
      text-align: left;

      display: inline-block;
    }

    div.header-container > h3 {
      margin-top: 0;

      color: #666666;
    }

    .resume.row {
      display: flex;
      align-items: center;
    }

    div.resume-container > a.btn {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container content-section resume-container">
    <div class="header-center-container">
      <div class="header-container">
        <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <h3>{{ request.user.email }}</h3>
      </div>
    </div>

    <h2>Resumes</h2>
    {% for resume in resumes %}
      <div class="resume row">
        <div class="col-sm-4">
          <h3>{{ resume.title }}</h3>
        </div>
        <div class="col-sm-4">
          <h4>{{ resume.items.count }} Item{{ resume.items.count|pluralize }}</h4>
        </div>
        <div class="col-sm-4 text-right">
          <a class="btn btn-primary" href="/resume/{{ resume.id }}/">Details</a>
          <a class="btn btn-info" href="/resume/{{ resume.id }}/edit">Edit</a>

        </div>
      </div>
    {% endfor %}

    <a class="btn btn-success" href="/resume/create/">Add New Resume</a>
    <a class="btn btn-success" href="/resume/item/create/">Add New Resume Item</a>
  </div>
{% endblock %}
