{% extends "resume/resume_simple_form.html" %}

{% comment %}
Template for editing a resume.
{% endcomment %}

{% block simple_form_header_text %}Edit Resume{% endblock %}

{% block simple_form_field %}
{{ form.title.errors }}
<div class="form-group">
  <label for="inputTitle" class="col-sm-2 control-label">Title</label>
  <div class="col-sm-8">
    <input type="text" name="title" id="inputTitle"
           required maxlength="127"
           class="form-control" aria-label="Resume Title"
           placeholder={{resume.title}}
           {% if form.title.value %}value="{{ form.title.value }}"{% endif %}>
  </div>
</div>
{% endblock %}

{% block simple_form_back_button %}
<a class="btn btn-default" href="/resume/">Back</a>
{% endblock %}
{% block simple_form_submit_button_text %}Rename{% endblock %}
{% block simple_form_additional_buttons %}
    <button type="submit" name="delete" class="btn btn-danger delete-button">
      Delete
    </button>
{% endblock %}
